<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Разрешение для доступа к датчикам физической активности (для Android 10 и выше) -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <!-- Разрешение для доступа к датчикам физической активности (для Android 10 и выше) -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <!-- Разрешение для отправки уведомлений (для Android 13 и выше) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.FittrackerGEMINI"
        tools:targetApi="31">
        <activity
            android:name=".GenderSelectionActivity"
            android:exported="true"
            android:label="@string/title_activity_gender_selection"
            android:theme="@style/Theme.FittrackerGEMINI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_step_goal"
            android:exported="false"
            android:label="@string/title_activity_step_goal"
            android:theme="@style/Theme.FittrackerGEMINI" />
        <activity
            android:name=".StepGoalActivity"
            android:exported="true"
            android:label="@string/title_activity_step_goal"
            android:theme="@style/Theme.FittrackerGEMINI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FittrackerGEMINI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>